<!DOCTYPE html>
<html lang="fr">
    {% extends "adminsite/main.html" %}
<head>
<meta charset="UTF-8">
<title>ajout d'un magasin</title>
</head>
<body>
{% block content %}
<h2> Liste des Serveurs</h2>
<form>
<div class="form">

<ol>
    {% for l in liste %}
    <p>Serveur :{{l}}</p>
<a href="/adminsite/serveurs/update/{{l.id}}/">
<input type="submit" value="Update" class="button">{% csrf_token %}</a>

<a href="/adminsite/serveurs/delete/{{ l.id }}/" >
<input type="submit" value="Delete" class="button">{% csrf_token %}</a>

    {% endfor %}
</ol></div></form>
{% endblock %}
</body>
</html>