<!DOCTYPE html>
<html lang="fr">
    {% extends "adminsite/main.html" %}
<head>
<meta charset="UTF-8">
<title>ajout d'un magasin</title>
</head>
<body>
    {% block content %}
    <form>
    <div class="form">
    <h2> Liste des Utilisateurs</h2>
    <ol>
        {% for l in liste %}
        <p>Utilisateur :{{l}}</p>
    <a href="/adminsite/utilisateurs/update/{{l.id}}/">
    <input type="submit" value="Update" class="button">{% csrf_token %}</a>
    
    <a href="/adminsite/utilisateurs/delete/{{ l.id }}/" >
    <input type="submit" value="Delete" class="button">{% csrf_token %}</a>
    
        {% endfor %}
    </ol></div></form>
    {% endblock %}
</body>
</html>