<!DOCTYPE html>
<html lang="fr">
    {% extends "adminsite/main.html" %}
<head>
<meta charset="UTF-8">
<title>ajout d'un magasin</title>
</head>
<body>
    {% block content %}
    <h2> Liste des Services</h2>
 
<div class="form">

<ol>
    {% for l in liste %}
    <p>Services : {{l.nom}}</p>
    <p>Date de création : {{l.date}}</p>
    <p>Memoire : {{l.memoire_use}}</p>
    <p>RAM : {{l.memoire_vive}}</p>
    <p>Serveur : {{l.serveur_lancement}}</p>
<a href="/adminsite/services/update/{{l.id}}/">
<input type="submit" value="Update" class="button">{% csrf_token %}</a>

<a href="/adminsite/services/delete/{{ l.id }}/" >
<input type="submit" value="Delete" class="button">{% csrf_token %}</a>

    {% endfor %}
</ol></div>
{% endblock %}
</body>
</html>
