<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <style type="text/css">a:link{text-decoration:none}</style>
    <link rel="stylesheet" href="{% static 'adminsite/index.css' %}">
</head>
<body>
    <nav>
            <div class="menu" id="index">
                <div id="resize"><a href="/adminsite/" id="link_index">Index</a><hr/></div>
            </div>

            <div class="menu"><a href="/adminsite/applications/">Applications</a>
                <div class="sousmenu">
                <div class="ajout"><a href="/adminsite/applications/ajout/"> Ajouter une application</a></div>
                </div>
            </div>

            <div class="menu"><a href="/adminsite/serveurs/">Serveurs</a>
                <div class="sousmenu">
                    <div class="ajout"><a href="/adminsite/serveurs/ajout/">Ajouter un serveur</a></div>
                </div>
            </div>

            <div class="menu"><a href="/adminsite/services/">Services</a>
                <div class="sousmenu">
                    <div class="ajout"><a href="/adminsite/services/ajout/">Ajouter un service</a></div>
                </div>
            </div>

            <div class="menu"><a href="/adminsite/types/">Type</a>
                <div class="sousmenu">
                    <div class="ajout"><a href="/adminsite/types/ajout/">Ajouter un type</a></div>
                </div>
            </div>

            <div class="menu"><a href="/adminsite/utilisateurs/">Utilisateur</a>
                <div class="sousmenu">
                    <div class="ajout"><a href="/adminsite/utilisateurs/ajout/">Ajouter un utilisateur</a></div>
                </div>
            </div>

            <div class="menu"><a href="/adminsite/fiches/">Fiches</a>
                <div class="sousmenu">
                    <div class="ajout"><a href="/adminsite/fiches/ajout/">Ajouter une fiche</a></div>
                </div>
            </div>

            
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>