<!DOCTYPE html>
<html lang="en">
    {% extends "adminsite/main.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}    

<h1> Liste des Applications</h1>
<ol>
{%for l in liste%}
<li> {{l}}
    <img src="/media/{{l.logo}}"/>
<a href="/adminsite/applications/update/{{l.id}}/">
<input type="submit" value="Update"\>{% csrf_token %}</a>

<a href="/adminsite/applications/delete/{{ l.id }}/">
<input type="submit" value="Delete">{% csrf_token %}</a>
</li>

    {%endfor %}
</ol>

<a href="/adminsite/applications/index/">
{% csrf_token %}<input type="submit" value="retour en arrière"></a>
{% endblock %}
</body>
</html>